body {
	background: cornsilk;
}

ul {
	list-style-type: none;
	height: 80px;
	width: 663px;
	margin: auto;
}

li {
	font-size: 1.6em;
	float: left;
	padding: 10px;
}

input {
	font-size: inherit;
	width: 100px;
}